    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Mi Vocabulario</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li *ngIf="check_user_logged_in()" class="active"><a [routerLink]="['/home']">Home</a></li>
                <li *ngIf="check_user_logged_in()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Términos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/termino-add']">Nuevo</a></li>
                        <li><a [routerLink]="['/terminos']">Ver todos</a></li>
                    </ul>
                </li>
                <li *ngIf="check_user_logged_in()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exámenes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/examen-add']">Nuevo</a></li>
                        <li><a [routerLink]="['/examenes']">Mis exámenes</a></li>
                        <li><a [routerLink]="['/resultados']">Mis resultados</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li *ngIf="check_user_logged_in()"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
        <panel-mensajes></panel-mensajes>
        <router-outlet></router-outlet>
    </div> <!-- /container -->
  